.book {
    width: 100px;
    padding: 2px;
}

#logo{
    width:300px;
    object-fit: cover;
}


#viewShoppingCartButton{
    margin: 10px;
    text-align: center;

}

header{
    text-align: center;
    border-bottom: 1px dashed green;
}

footer{
    text-align: center;
    font-style: italic;
    border-top: 1px dashed green;
    border-bottom: 1px dashed green;
}


/* CONTACT FORM */
legend {
    color: #ebfeff;
    font-weight: bolder;
    font-style: oblique;
    font-size: 26px;
    padding-bottom: 0;
    text-align: center;
}

label {
    display: block;
    padding-bottom: 1px;
}

#submit {
    font-size: 16px;
    text-align: center;
}

.names {
    display: inline-flex;
    column-gap: 27%;
    max-width: 18%
}

.phone-email {
    display: inline-flex;
    column-gap: 27%;
    max-width: 18%
}


/* Inherits stuff from FORM */
fieldset {
    border: none;
    padding: 1rem;
    margin-left: 4px;
    max-width: inherit;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dashed rgba(202, 254, 255, 0.76);
    /* background-color: rgba(0, 183, 255, 0.877); */
}

fieldset:last-of-type {
    border-bottom: none;
}


form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 500px;
    border: 2px solid rgba(202, 254, 255, 0.76);
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 102, 115, 0.719);
    color: #ebfeff;
    border-color: #ebfeff;
}

.form-responsive {
    max-width: 500px;
    width: 100%;
}

/* form input,
textarea,
submit {
    background-color: rgba(28, 102, 115, 0.719);
    border-color: #ebfeff;
    color: #ebfeff;

} */